{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fee</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dashboard\vendors\ti-icons\css\themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard\vendors\base\vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'dashboard\css\style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashboard\images\favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
           <div class="main-panel">        
                <div class="content-wrapper">
                  <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Add Student Fee Details</h4>
                          <form class="forms-sample" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="full_name">Name</label>
                              <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Full name" value="{{ student.full_name}}" readonly>
                            </div>
                            <div class="form-group">
                              <label for="fee_type">Fee type</label>
                              <input type="text" class="form-control" name="fee_type" id="fee_type" placeholder="Fee type" required>
                            </div>
                            <div class="form-group">
                              <label for="amount">amount</label>
                              <input type="text" class="form-control" name="amount" id="amount" placeholder="amount " required>
                            </div>
                            <div class="form-group">
                              <label for="payment_date">payment date</label>
                              <input type="date" class="form-control" name="payment_date" id="payment_date" placeholder="payment date" required>
                            </div>
                            <div class="form-group">
                                <label for="remarks">remarks</label>
                                <input type="text" class="form-control" name="remarks" id="remarks" placeholder="remarks " required>
                              </div>
                              
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
