{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Staff edit</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dashboard\vendors\ti-icons\css\themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard\vendors\base\vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'dashboard\css\style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashboard\images\favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Edit Staff</h4>
                      <form class="forms-sample" action="{% url 'staff_edit' pk=staff.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="staff_name">Name</label>
                          <input type="text" class="form-control" name="staff_name" id="staff_name"
                            placeholder="Full name" value="{{ staff.staff_name }}" required>
                        </div>
                        <div class="form-group">
                          <label for="department">Department</label>
                          <select class="form-control" name="department" id="department" required>
                            <option value="LP" {% if staff.department == "LP" %}selected{% endif %}>Lower Primary
                            </option>
                            <option value="UP" {% if staff.department == "UP" %}selected{% endif %}>Upper Primary
                            </option>
                            <option value="HS" {% if staff.department == "HS" %}selected{% endif %}>High school</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="joining_date">Joining date</label>
                          <input type="date" class="form-control" name="joining_date" id="joining_date"
                            placeholder="dd/mm/yyyy" value="{{ staff.joining_date|date:'Y-m-d' }}" required>
                        </div>

                        <button type="submit" class="btn btn-primary me-2">Edit</button>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>