{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>fee</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dashboard\vendors\ti-icons\css\themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard\vendors\base\vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'dashboard\css\style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashboard\images\favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
           <div class="main-panel">        
                <div class="content-wrapper">
                  <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Edit Fee History</h4>
                          <form class="forms-sample" action="{% url 'feeHistory_edit' pk=fee_history.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="student">Name</label>
                              <input type="text" class="form-control" name="student" id="student" placeholder="Full name" value="{{ fee_history.student }}" readonly>
                            </div>
                            <div class="form-group">
                              <label for="fee_type">Fee type</label>
                              <input type="text" class="form-control" name="fee_type" id="fee_type" placeholder="fee_type" value="{{ fee_history.fee_type }}" required>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input type="text" class="form-control" name="amount" id="amount" placeholder="amount" value="{{ fee_history.amount }}" required>
                              </div>
                            <div class="form-group">
                              <label for="payment_date">Payment date</label>
                              <input type="date" class="form-control" name="payment_date" id="payment_date" placeholder="Borrow date" value="{{ fee_history.payment_date|date:'Y-m-d' }}" required>
                            </div>
                            <div class="form-group">
                              <label for="remarks">Remarks</label>
                              <input type="text" class="form-control" name="remarks" id="remarks" placeholder="remarks" value="{{ fee_history.remarks }}" required>
                            </div>
                        
                              
                            <button type="submit" class="btn btn-primary me-2">Edit</button>
                            
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
